.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sizeButton {
    padding: 10px;
    margin: 10px;
}

.gridContainer {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 2px;
    width: 500px;
    height: 500px;
}

.gridRows {
    display: flex;
    flex: 1;
}

.gridBlocks {
    flex: 1;
    background-color: white;
}

.traced {
    flex: 1;
    background-color: dimgray;
}